/* CUSTOM PROPS  */
:root {
  --text-color:#111517;
  --body-bg:#fafafa;
  --element-bg:#fff;
}


/* FONTS  */
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/NunitoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Light.woff2") format("woff2"),
    url("../fonts/NunitoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"),
    url("../fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  height: 100%;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-family:"Nunito-Sans", "Arial", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* DARK MODE  */
.dark-mode {
  --text-color:#fff;
  --body-bg: #202c36;
  --element-bg:#2b3844;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN CONTENT  */
.main-content {
  flex-grow: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}


/* SITE HEADER  */
.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  background-color:var(--element-bg);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  display: flex;
  transition: opacity 0.3s ease;
}

.header-logo-link:hover {
  opacity: 0.8;
}

.header-logo-link:active {
  opacity: 0.6;
}

.header-logo-img {
  color:var(--text-color);
}

.dark-mode-link {
  padding: 0;
  border:0;
  background-color:transparent;
  color:var(--text-color);
  cursor: pointer;
}

.logo-link-wrapper {
  display: flex;
  align-items: center;
}

.path-logo-img {
  color:var(--text-color);
  background-color: transparent;
  pointer-events: none;

}

.logo-link-text {
  margin-left: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

/* FILTERS  */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-search {
  min-width: 480px;
  padding: 18px 74px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  border:none;
  background-color: var(--element-bg);
  color:var(--text-color);
}

.filters-region-select {
  min-width: 200px;
  padding: 18px 24px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  border:none;
  background-color: var(--element-bg);
  color:var(--text-color);
}